@model CrudMercado.Model.Entities.ProdutoEntity
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar Produto</title>
</head>


<body>
    <h2 class="titulo">Deseja mesmo deletar?</h2>
    <hr />
    <form asp-controller="ProdutoMVC" asp-action="DeletarProduto" method="post" id="form-deletar">
        <table class="table" id="lista-fornecedores">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Preco)
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Preco)
                </td>
            </tr>
        </table>

        <a asp-action="Obter" asp-controller="Produto" class="btn-voltar">Voltar</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn-deletar" value="Deletar" />
    </form>




</body>
</html>
