@model CrudMercado.Model.Entities.ProdutoEntity
<!DOCTYPE html>
<html>
<head>
    @{
        ViewBag.Title = "Detalhes do Produto" + Html.DisplayNameFor(model => model.Nome);
    }
</head>

<body>
    <table class="table" id="lista-fornecedores">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayFor(model => model.Nome)
            </td>
            <td>
                @Html.DisplayFor(model => model.Descricao)
            </td>
            <td>
                @Html.DisplayFor(model => model.Preco)
            </td>
            <td>
                @Html.ActionLink("Editar", "AtualizarProduto", new { id = Model.Id }, new { @class = "btn-atualizar" })
                @Html.ActionLink("Deletar", "DeletarProduto", new { id = Model.Id }, new { @class = "btn-deletar" })
            </td>
        </tr>
    </table>

    <div>
        <a asp-action="ObterTodosProdutos" class="btn-voltar">Voltar</a>
    </div>
</body>
</html>