@model CrudMercado.Model.Entities.FornecedorEntity
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deletar Fornecedor</title>
</head>


<body>
    <h2 class="titulo">Deseja mesmo deletar?</h2>
    <hr />
    <form asp-action="Deletar" asp-controller="Fornecedor" method="post" id="form-deletar">
        <table class="table" id="lista-fornecedores">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Cpf)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produtos)
                    </th>
                </tr>
            </thead>
            <tr>
                <td>
                    @Html.DisplayFor(model => Model.Nome)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(model => Model.Produtos)
                </td>
            </tr>

        </table>

        <a asp-action="Obter" asp-controller="Fornecedor" class="btn-voltar">Voltar</a>
        <input type="hidden" asp-for="Id" />
        <input type="submit" class="btn-deletar" name="confirmButton" value="Deletar" />
    </form>




</body>
</html>
